.container{
    background-color: #70969c;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    padding: 10px;
    margin: auto;
}

button{
    text-align: center;
}

.linha > button{
    background-color: rgb(78, 78, 78);
    width: 30px;
    height: 30px;
    margin: 5px;
    text-align: center;
    cursor: pointer;
    color:#a3dae4;
    border-radius: 5px;
    padding: 35px 35px;
    font-size: 36px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.linha > button:hover{
    background-color:#656666;
}

body{
    background-color: #ddd;
    align-items: center;
}

body h1{
    text-align: center;
}
